{{ $md := .Site.Params.body_is_markdown | default false }} {{ with
.Site.Params.one }} {{ if .enable }}
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>{{ .title | safeHTML}}</h2>

      {{ partial "body_text.html" (dict "context" . "md" $md) }}
    </header>
    <div class="icons major">
      {{ range .logo }}
      <a href="{{ .url }}">
        <img class="logos" src="{{ .img | relURL }}" alt="" />
      </a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }}
